body{background-color:#CBB9B4;
}


header{width:1320px;
height:150px;
margin-top:-6px;
}


nav{background-color:#000000;
width:900px;;
height:50px;
margin:auto;}

ul{
margin:auto;
padding-top:17px;
}

li{display:inline;
padding-right:25px;
}

a{color:white;}

a:hover{color:red;
}

 
section{
background-color:#D0B4AE;
width:600px;
float:left;
}

img{border-color:#FF99CC;
border-bottom:groove;
border-top:groove;
}

aside{
width:300px;
float:right;
background-color:#D0B4AE;
}

.cont{
width:900px;
margin:auto;}


.clr{clear:both;}


footer{
border-bottom:groove;
border-top:groove;
height:50px;
width:1320px;
float:left;
color:#000000;}


article{text-align:justify; padding:10px;}

h1{color:#000000;
margin-left:14px;
padding:2px;
margin-bottom:0px;
text-decoration:underline;
font-size:24px;
font-family:"Gabriola";
text-shadow: 0 1px 0 white;
}


p{font-family:"Gabriola";
font-size:19px;}
p:first-letter {
			font-size: 4em;
			font-weight: bold;
			float: left;
			padding-right: 8px;}
			


.social{margin:4px;
padding:7px;
border-bottom:groove;}

.social img{width:36px; border:hidden;}


form{
padding:18px; margin:18px;}

input{padding:4px;
border:double;
border-color:#FF99FF;
font-size:16px;
font-family:"Georgia"}


h3{font-family:"Gabriola";
text-shadow: 0 3px 0 white;
}

/*ipad 768 */
@media only screen and(min-width:470px)and
(max-width:770px)
{
body{background-color:red;}
.cont{width:96%;
font-size:0.6875em;
section.content, aside.sidebar{width:100%;}
}


/*iphone 468 */
@media only screen and(min-width:270px)and
(max-width:470px)
{
body{background-color:yellow;}
.cont{width:96%;
font-size:0.6875em;
section.content, aside.sidebar{width:100%;}
}
